body {
    margin: 0;
    background-color: green;
}
/* hero background image */
.bgimage {
    height: 100vh;
    background: url('images/heroImage.jpg');
    background-size: cover;
    position: relative;
}
/* text css above image */
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText {
    height: 280px;
    cursor: pointer;
}
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-medium:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #d8d2e9;
    text-align: center;
}